body{
    background-color:white;
}

header{
    background-color: gray; border-top-left-radius: 10px; border-top-right-radius: 10px;  
    padding: 10px; 
}

h1,h2,h3,h4,h5,h6,p{ 
    font-family: 'Courier New', Courier, monospace; color:black
}

h1{
    font-size: 30pt;
    display: inline;
}

h3{
    font-size: 20pt;
}

p{
    font-size: 15pt;
}

main{
    background-color: gray; border-radius: 10px;
}

aside{
    background-color: gray; border-radius: 10px;
}

footer{
    background-color: blueviolet;border-radius: 10px;
}

nav ul{margin: 0;
    padding: 0;
    overflow: hidden; 
}

nav li{
    border: 2px, solid, black; 
    background-color: blue; 
    list-style-type: none;
    float: left;
    width: 15%;
    padding: 16px;
}

nav li a{
    color:pink; text-align: center; text-decoration: none;

}

nav li hover{
    background-color: black; 

}

.active{
    background-color: brown;
}

table{
    font-family: 'Courier New', Courier, monospace; border-collapse: collapse;
}

table td, table th{
    border:2px, solid, #f0f0f0
}

table tr:nth-child(even){
    background-color: #f2f2f2;
}

table tr:hover{
    background-color: white;
}

table th{
    background-color: blueviolet; color: white;
}

#logo{ 
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}