/* style for main body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

/* style for header */
header {
  background-color: #004d99;
  color: white;
  padding: 20px;
  margin: 10px, background-color; 
}

/* style for logo */
#logo {
  height: 70px;
  width: 70px;
  float: left;
  margin-right: 20px
}

/* nav menu */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #003366;
  overflow: hidden;
}

/* nav menu things */
nav ul li {
  float: left;
  margin: 5px;
  width: auto;
  border-radius: 5px;
}

/* nav links */
nav li a {
  display: block;
  color: #f5f5f5;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  transition: background-color 0.3s;
  background-color: #004d99;
}

/* style for nav menu hover */
nav li a:hover {
  background-color: #002142;
}

/* style for nav menu active site */
.active{
  background-color: #6a018a;
}

/* style for main */
main {
  padding: 15px;
  background-color: #f5f5f5;
  margin: 20px 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px #0000001a;
}

/* style for aside */
aside {
  background-color: #e6e6e6;
  padding: 15px;
  margin: 20px 15px;
  border-radius: 5px;
}

/* style for footer */
footer {
  background-color: #004d99;
  color: #f5f5f5;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* table style */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 10pt;
}

/* style for table headings and cells */
table th, td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  width: 12.5%;
}

/* table headings */
table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

/* style for odd rows */
table tr:nth-child(odd) {
  background-color: #fff; 
}

/* style for even rows */
table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* style for hovered row */
table tr:hover{
  background-color: #0080ff
}

/* style for size of carousel */
.carousel-item img {
  object-fit: cover; 
  height: 750px; 
}

/* makes the number of slide not visible */
.carousel-indicators li {
  text-indent: -999px;
  list-style-type: none;
}


/* style for gallery image */
.gallery-img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

/* img gallery container */
#img-gallery {
  padding: 10px;
}

/* img gallery row */
#img-gallery .row {
  margin-bottom: 10px;
}

/* keeps it smooth */
.gallery-img{
  transition:filter 0.3s ease;
}

/* style for blur effect on imgs in gallery */
.blurred{
  filter:blur(4px) grayscale(50%);
}

/* style for removing blur and adding border on focused imgs */
.gallery-img.focused{
  filter:none;
  border:solid black 4px;
}

/* style for left column */
#left-column{
  border: 1px solid #000; 
  float: left;
}

/* form */
form {
  margin-bottom: 20px;
}

/* fieldset */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/* legend */
legend {
  font-weight: bold;
  margin-bottom: 10px;
}

/* labels */
label {
  display: block;
  margin-bottom: 5px;
}

.contactinputs{
  border: 1px solid #000000;
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
}

/* spacing between radio buttons and text */
input[type="radio"] {
  margin-right: 10px;
  margin-left:30px
}

/* labels for radio */
label.radio,
input[type="radio"] {
  display: inline-block; 
  margin-bottom: 20px; 
}

/* creates space between form elements */
form label, form input {
  margin-bottom: 20px; 
}

/* news article border and spacing */
.news {
  display: flex;
  border: 2px solid #000;
  margin-bottom: 20px; /* Add space between news items */
}

/* size and spacing of new img */
.news-image {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  margin-right: 20px;
}

/* text will fill container after image */
.news-content {
  flex-grow: 1;
}

/* headline spacing */
.news-content h3 {
  margin-top: 10px; 
}

/* text spacing */ 
.news-content p {
  margin-top: 20px;
}

/* login form */
#loginForm{
  text-align:right;
  margin: 0px;
  padding: 0px;
}

/* events recommendation form */
form[name="events"] {
  border: 1px solid black; 
  padding: 20px; 
  margin-top: 20px; 
}

/* h2 and p */
h2, p{
  padding: 10px;
  margin: 10px;
}

/* artist info text boxes */
.song-info, .artist-info {
  border: 1px solid #000; 
  padding: 10px;
  margin-bottom: 20px;
  height: auto; 
  box-sizing: border-box;
  background-color: rgb(175, 175, 175);
}


